@media screen and (max-width:992px) {
    
    .navbar-collapse{
        justify-content:flex-start !important;
        background-color: #fff;
        height: 85vh;
        align-items: flex-start;
        overflow: hidden;
    }
    .navbar-collapse a{
        color:#555 !important;
    }
    .content span{
        line-height: 1.8;
    }
    #lightBoxItem{
        height: 450px;
        width:75%;
    }   

}


@media screen and (max-width:630px) {
    #lightBoxItem{
        height: 300px;
        width:75%;
    } 
}